vti_encoding:SR|utf8-nl
vti_author:SR|ET\\Instructor
vti_modifiedby:SR|DELL\\Administrator
vti_timelastmodified:TW|15 May 2016 22:07:53 -0000
vti_timecreated:TR|12 May 2016 19:42:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|serato/default.html
vti_nexttolasttimemodified:TW|15 May 2016 22:07:53 -0000
vti_cacheddtm:TX|15 May 2016 22:07:54 -0000
vti_filesize:IR|994
vti_cachedlinkinfo:VX|S|http://www.agiprodj.com/additional_images/rane_sixty-four_177002_4-channel_serato_dj_mixer_example_four_turntables_battle_position.jpg
vti_cachedsvcrellinks:VX|NSHS|http://www.agiprodj.com/additional_images/rane_sixty-four_177002_4-channel_serato_dj_mixer_example_four_turntables_battle_position.jpg
